[Unit]
Description=iNodeAuthService
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=$HOME/Environment/web_base/logs/inodeauthservice.pid
# Nginx will fail to start if /run/nginx.pid already exists but has the wrong
# SELinux context. This might happen when running `nginx -t` from the cmdline.
# https://bugzilla.redhat.com/show_bug.cgi?id=1268621
; ExecStartPre=/usr/bin/rm -f /run/nginx.pid
; ExecStartPre=$HOME/Environment/web_base/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStartPre=$HOME/Environment/NetworkClient/iNodeClient/start_auth.sh
ExecStart=$HOME/Environment/NetworkClient/iNodeClient/start_auth.sh
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target


