[Desktop Entry]
Name=James
X-KDE-PluginInfo-Author=James
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Email=princeofdream@outlook.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=James
X-KDE-PluginInfo-Version=1.0
